body{
    background-color:#67A3A3;
    color:#ffccc7; 
    font-family: Roboto;
}

h1,h2,h3,h4,h5,h6{
    font-family:"Kaushan Script";
    font-size:50pt;
    text-align:center;
}
h2{
    margin:.1em;
}

header{
    text-align:center;
}
/*hero section*/
#hero,footer{
    background-color:#8CA387;
    text-align:center;
    padding:10px;
    color:#A3EFF0;
    border:2px solid #C3F0BB;
}

#hero img{
    width:300px;
}
/*bio section*/
#bio{
    text-align:center;
}

#superhero img{
    width:300px;
    background-color:#8CA387;
    padding:10px;
    border:2px solid #C3F0BB;
}
/*hobbies section*/
section#Hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Hobbies{
    text-align: left;
    background-color:#8CA387;
    text-align:left;
    padding: 2px;
    color:#ffccc7;
    border: 6px dotted #C3F0BB;
}

#Hobbies ul li:nth-child(odd) {
    color: #125353;
    font-style:oblique;
    font-weight:bold;
    background-color: #ffccc7;
}

#Hobbies ul li:nth-child(even) {
    color:#C3F0BB;
    font-weight:bold;
    font-style:italic;
    background-color: #8CA387;
    
}
ul{
    background-color:#125353;
    padding:20px;
}
li{ 
    background: color #A3EFF0;
    padding:20 px;
}
ol li{
    background:#67A3A3;
    padding: 2px;
}
ul li{
    background-color: #125353;
    padding:2px;

}

/*Gallery Section*/
#gallery{
    border:2px solid #A3EFF0;
    background-color:#125353;
    border: 6px dotted #ffccc7;

}
#gallery img{
    Max-width:100%;

}

#gallery figure{
    text-align:center;
    color:#ffccc7;
}
/*article section*/
 #lit{
    Border: 6px dotted #ffccc7;
    background-color:#8CA387;
 }

 #lit div{
    padding:2rem;
    max-width:40rem;
    margin:0 auto;
    
 }
 #lit div p{
    padding:0.3rem 0;
    text-align:left;
    max-width:100%;
    
 }
 #lit div p:first-child:first-letter{
    color:#A3EFF0;
    float:left;
    font-size: 3em;
    font-family: "Kaushan Script";
    padding: 0.25em;
    padding-right:0.50em;
    margin:.05em;
    line-height:.65;
    border:3px solid #ffccc7;
    background-color:#125353;
    text-shadow:5px 5px 3px rgba(0,0,0,.5);
    box-shadow:5px 5px 3px rgba(0,0,0,.5);
    text-align:center;
    font-weight:bold;
    border-top-left-radius: .2em;
    border-bottom-right-radius:.2em;
    clear:both;
 }
/* Tablet Size */
@media screen and (min-width: 40em) {
    figure{
        display:grid;
        grid-template-columns: 2fr 1fr;
    }
    figcaption{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:2rem;
        margin-left: 1rem;
    }
    figure img{
        width:100%;
    }
    #lit div {
       max-width:100%;
       columns: 20rem; 
    }
}
/* Larg screen size */
@media screen and (min-width: 60em) {
    #gallery {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    hr {
        display:none;
    }
    #gallery h2 {
        grid-column: 1/-1;
    }
    figure {
        display: block;
        font-size: 30pt;
    }
}