body{
    background-color:#67A3A3;
    color:#ffccc7; 
    font-family: Roboto;
    padding:50px;
}

h1,h2,h3,h4,h5,h6{
    font-family:"Kaushan Script";
    font-size:40pt;
    text-align:center;
    margin:0;
}

h2{
    margin:.1em;
}

header{
    text-align:center;
}

/*hero section*/
#bio,footer{
    background-color:#125353;
    text-align:center;
    padding:20px;
    color:#ffccc7;
    border:7px dotted #C3F0BB;
}
footer img {
    width:20px;
    align-items: center;
}

footer a {
    color:#ffccc7;
}

#bio img{
    width:300px;
}
#art a{
    color:#ffccc7;
}
#art a:hover {
    color:#A3EFF0;
}


/*hobbies section*/
section#Hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Hobbies{
    text-align: left;
    background-color:#ffccc7;
    text-align:left;
    padding: 20px;
    color:#125353;
    border: 6px dotted #125353;
    
}

#Hobbies ul li:nth-child(odd) {
    color: #125353;
    font-style:oblique;
    font-weight:bold;
    background-color: #67A3A3;
    padding:10px;
    text-align: center;
    
}

#Hobbies ul li:nth-child(even) {
    color:#C3F0BB;
    font-weight:bold;
    font-style:italic;
    background-color: #8CA387; 
    padding:10px;
    text-align:center;
}

ul{
    background-color:#125353;
    padding:20px;
    list-style: none;
}

li{ 
    background: color #A3EFF0;
    padding:20 px;
}

ol li{
    background:#67A3A3;
    padding: 2px;
}

ul li{
    background-color: #8CA387;
    padding:2px;
}

/*Gallery Section*/
#gallery{
    border:2px solid #A3EFF0;
    background-color:#125353;
    border: 6px dotted #C3F0BB;
}

#gallery img{
    Max-width:100%;
    border: 5px solid #A3EFF0;
}

#gallery img p

#gallery figure{
    text-align:center;
    color:#ffccc7;
}
#gallery figcaption {
    text-align: center;
    font-size: 2
}

/* Video */
#Movie {
    background-color:#ffccc7;
    border:7px dotted #125353;
    align-items:center;
    padding-bottom: 20px;
    columns: 2;
    flex-direction: column;
    display: flex;
    padding-left: 20px;
    padding-right:20px;
    max-width:100%;
    justify-content:center;
    margin-bottom:0em;
}
#Movie h2 {
    color:#125353;
}
#Movie strong {
    color:#125353;
}

#video {
    background-color:#125353;
    border:7px dotted #A3EFF0;
    max-width: 100%;
    columns: 1;
    flex-direction: column;
    display: flex;
    width: 100%;
}

/*article section*/
 #lit{
    Border: 6px dotted #ffccc7;
    background-color:#125353;
 }

 #lit div{
    padding:2rem;
    max-width:40rem;
    margin:0 auto; 
 }

 #lit div p{
    padding:0.3rem 0;
    text-align:left;
    max-width:100%;
 }

 #lit div p:first-child:first-letter{
    color:#A3EFF0;
    float:left;
    font-size: 3em;
    font-family: "Kaushan Script";
    padding: 0.25em;
    padding-right:0.50em;
    margin:.05em;
    line-height:.65;
    border:3px solid #ffccc7;
    background-color:#8CA387;
    text-shadow:5px 5px 3px rgba(0,0,0,.5);
    box-shadow:5px 5px 3px rgba(0,0,0,.5);
    text-align:center;
    font-weight:bold;
    border-top-left-radius: .2em;
    border-bottom-right-radius:.2em;
    clear:both;
 }
/* Images */
#background-repeat {
    background:#8CA387;
    background-image:url("img/AboutMe.png")
}



 /* Contact Form */
 #formelements {
    display:grid;
    text-align:left;
    row-gap:0.5em;
 }
 #contact {
    padding:1rem;
    max-width:600px;
    margin:2rem auto;
    align-items:center;
    background-color: #8CA387;
    border:7px dotted #A3EFF0;
 }
 #contact h2{
    color:#125353;
 }
 #contact p{
    text-align:center;
    font-size:15pt;
    color:#125353
 }
 fieldset {
    border: 7px solid #ffccc7;
    margin-top:1em;
    margin-bottom:1em;
    background-color: #125353;
    border-radius:.5em;
}
 legend{
    background-color:#ffccc7;
    padding:0.5em;
    color:#125353;
    font-style: oblique;
}

#contact input, #contact textarea, #contact select, #contact button {
    padding:0.5em;
    font-size:1em;
    font-family:"Roboto";
}
#contact ul {
    list-style:none;
    padding:0px;
}
#contact li {
    margin:1 rem;
    background-color: #125353;
}
#contact button {
    background-color:#A3EFF0;
    border-radius:0.5em;
    color:#125353;
    padding:0.5em;
    border:1px solid #125353;
    max-width:400px;
    width:50%;
    justify-self:center;
}
#contact textarea {
    font-family:"Roboto";
}

/* Tablet Size */
@media screen and (min-width: 40em) {
    figure{
        display:grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:2rem;
        margin-left: 1rem;
        text-align:center;
    }

    figure img{
        width:100%;
    }

    #lit div {
       max-width:100%;
       columns: 20rem; 
    }

    #movie {
        Display:flex;
    }

    video{
        max-width:100;
        height: auto;
    }
}
/* Larg screen size */
@media screen and (min-width: 60em) {
    #gallery {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display:none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }
    
    figure {
        display: block;
        font-size: 30pt;
    }
}